@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 18%; /* #2d2d2d */
    --foreground: 210 9% 71%; /* #bdbdbd */
    --surface: 213 10% 21%; /* #32393d */
    --surface-hover: 215 7% 23%; /* #373737 */
    --border: 220 9% 23%; /* #464646 */
    --primary-text: 210 9% 71%; /* #bdbdbd */
    --accent: 17 28% 52%; /* #a9714b */
    
    --card: var(--surface);
    --card-foreground: var(--primary-text);
    --popover: var(--surface);
    --popover-foreground: var(--primary-text);
    --primary: var(--accent);
    --primary-foreground: var(--background);
    --secondary: var(--surface-hover);
    --secondary-foreground: var(--primary-text);
    --muted: var(--surface);
    --muted-foreground: 117 7% 47%; /* #757575 */
    --input: var(--surface-hover);
    --ring: var(--accent);
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: var(--background);
    --radius: 0.5rem;
  }

  /* Force dark mode always */
  html, body {
    color-scheme: dark;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
